@charset "utf-8";

.alterra-chat-bot-input-wrapper {
	border: 0;
	margin: 0;
	padding: 0;
    height: 100%;
}
.alterra-chat-title {
	line-height: 1.5em;
	margin: 0;
}
#alterra-chat-bot-input {
    height: 100%;
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	line-height: normal;
    border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
}
.alterra-message-text { margin: 0; }
.alterra-clearfix { *zoom: 1; } /* For IE 6/7 */
.alterra-clearfix:before, .alterra-clearfix:after {
	content: "";
	display: table;
}
.alterra-clearfix:after { clear: both; }
#alterra-live-chat {
	height: 500px;
	min-width: 402px;
	background: #ffffff;
	color: #9a9a9a;
	font: 100%/1.5em "Segoe UI", sans-serif;
	margin: 0;
	bottom: 0;
	font-size: 15px;
	right: 24px;
	position: fixed;
	width: 300px;
	border-radius: 8px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15)
}
#alterra-live-chat header {
	background: #32c24d;
	border-radius: 5px 5px 0 0;
	color: #ffffff;
	box-shadow: 0 1px rgba(0, 0, 0, 0.2);
	box-sizing: content-box;
	font-weight: 500;
	height: 30px;
	letter-spacing: 0.5px;
	cursor: pointer;
	padding: 10px 10px 0 10px;
}
#alterra-live-chat form {
    height: 100%;
    width: 99%;
    display: inline-block;
}
.alterra-chat-message-counter {
	background: #e62727;
	border: 1px solid #fff;
	border-radius: 50%;
	display: none;
	font-size: 12px;
	font-weight: bold;
	height: 28px;
	left: 0;
	line-height: 28px;
	margin: -15px 0 0 -15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 28px;
}
.alterra-chat-close {
	border-radius: 50%;
	color: #fff;
	display: block;
	float: right;
	font-size: 20px;
	height: 20px;
	line-height: 16px;
	margin: 2px 0 0 0;
	text-align: center;
	text-decoration: none;
	width: 16px;
}
.alterra-chat {
	background: #fff;
}
.alterra-chat-history {
	height: 390px;
	padding: 8px 24px;
	overflow-y: scroll;
}
.alterra-chat-message {
	margin: 16px 0;
}
.alterra-chat-message img {
	border-radius: 50%;
	float: left;
}
.alterra-chat-message-content {
	padding-left: 4px;
	margin-left: 56px;
}
.alterra-chat-time {
	float: right;
	font-size: 10px;
}
.alterra-chat-feedback {
	font-style: italic;
	margin: 0 0 0 80px;
}
.alterra-message-from-bot {
	margin-left: 0px;
	width: 80%;
	background-color: #eceff1;
	color: #000;
	order: 1;
	border-top-left-radius: 0px;
	box-shadow: -1px 2px 0px #D4D4D4;
}
.alterra-message-from-me {
	background-color: #3a96dd;
	color: #ffffff;
	justify-content: flex-end;
	align-items: flex-end;
	order: 1;
	border-bottom-right-radius: 0px;
	box-shadow: 1px 2px 0px #D4D4D4;
}
.alterra-chat-action-button {
	width: 40%;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}
#alterra-back-to-default {
	background-color: #3a96dd;
	color: #fff;
}
#alterra-button-ok {
	background-color: #eceff1;
	color: #000;
}
.alterra-button-wrapper {
}
#alterra-chat-button {
	bottom: 1em;
	right: 1em;
	position: fixed;
	background-color: #32c24d;
	font-size: 14px;
	height: 48px;
	width: auto;
	border-radius: 100px;
	box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	padding: 0 20px;
	cursor: pointer;
	display: inline-block;
}

#alterra-chat-button svg {
	opacity: 1;
	width: 28px;
	display: inline-block;
	height: 48px;
}
#alterra-chat-button p {
	text-align: left;
	color: #fff;
	display: inline-block;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 1.3em;
	line-height: 48px;
	font-weight: bold;
	margin: 0 0 0 12px;
	max-width: 200px;
	vertical-align: top;
	transition: .6s ease-in-out;
}
.alterra-actions {
    border: 5px solid #dbdee1;
    box-sizing: border-box;
    background-color: #dbdee1;;
}
